---
export interface CardProps {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<a
  class="bg-white text-zinc-950 tracking-tight text-sm font-medium p-4 flex justify-center cursor-pointer rounded-lg motion-reduce:transition-none transition ease-out hover:translate-y-1 hover:bg-zinc-200 duration-100"
  href={href}
>
  {text}
</a>
